@import url(./reset.css);
@font-face {
  font-family: "D2Coding";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100vh;
  height: 100vh;
}
body {
  font-family: "D2Coding";
}
