@import url(./reset.css);
@font-face {
  font-family: "D2Coding";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100vw;
  height: 100vh;
}
body {
  font-family: "D2Coding";
  background-color: #f1f2f6;
  color: #2f3542;
}

.root {
  width: auto;
  max-width: 1080px;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.main {
  width: 100%;

  .opening {
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    @media (min-width: 800px) {
      grid-template-columns: 360px 1fr;
    }
    gap: 2rem;
    .opening_image {
      width: 100%;
      max-width: 360px;
      aspect-ratio: 1;
      border-radius: 100%;
      background-image: url("https://avatars.githubusercontent.com/u/106135040?v=4");
      background-size: contain;
      filter: grayscale(100%);
      &:hover {
        filter: grayscale(0%);
      }
    }
    .opening_profile {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      .opening_profile-name {
        font-size: 3rem;
        font-weight: 500;
        margin-bottom: 2rem;
        text-align: center;
      }
      .opening_profile-intro {
        line-height: 1.8rem;
        font-size: 1.5rem;
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
      .opening_profile-intro--bold {
        font-weight: bold;
      }
    }
  }
}
